
.Team_Wrapper {

  align-items: center;

}

.TeamsCards {
 
  padding-top:  60px;
  width: 100%;
}

.TeamsCards  .TeamCard {
  height: auto !important;

}

.TeamsCards  .TeamCard img{
  width: 80%;
  margin: auto;
}


.TeamsCards  .TeamCard h3{
  color: #fff;
  text-align: center !important;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.TeamsCards  .TeamCard h3 span{
  display: block;
  position: relative;
  color: #21e787;
  text-align: center;
}

.TeamsCards  .TeamCard .social{
  display: flex;
  gap: 15px;
  align-items: center;
 
}

.TeamsCards .TeamCard .social i {

 
  border-radius: 50%;
  background-color: #21e787;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #040b11;
  cursor: pointer;
  transition: 0.3s;
}
