.About_wrapper {
  align-items: center !important;
}
.About_wrapper p {
  text-align: center;
  color: #fff;
}

.Section_Title {
  text-align: center;
  color: rgba(131, 131, 131, 1) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.Section_Title span {
  color: var(--primary-color);
}

.Section_paragraph {
  width: 60%;
  margin: 20px 0px;
  font-size: 20px;
  line-height: 30px;
}

.Counters {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.Counters p {
  text-align: center !important;
}

.About_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 80px;
  padding: 0 80px;
}

.AboutCard .About_card {
  position: relative;
  padding-top: 60px;
  transition: 0.6s;
  z-index: 1;
}

.AboutCard .About_card::after {
  content: attr(count);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  color: #21e7876d;
  font-size: 150px;
  line-height: 120px;
  z-index: -1;
}

.AboutCard .About_card:hover:after{
    color: #21e787;

}

.AboutCard .About_card:hover {
  transform: translateY(-8px) scale(1.02);
}

.AboutCard .About_card h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.AboutCard .About_card p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  background-color: #141b22;
  display: flex;
  flex-direction: column;
  padding: 45px 20px;
  gap: 15px;
  height: 240px;
  width: auto;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1600px) {
  .AboutCard .About_card {
    padding-top: 65px !important;
  }
}

@media screen and (max-width: 1300px) {
  .AboutCard  {
    grid-template-columns:  repeat(2,1fr);
    padding: 0 80px;
  }
   .AboutCard .About_card {
    padding-top: 75px !important;
  }
}


@media screen and (max-width: 900px) {
  .AboutCard  {
    
    padding: 0 20px;
    
  }

  .Section_paragraph{
    width: 100%;
    font-size: 17px;
  }
  
}

@media screen and (max-width: 768px) {
  .AboutCard  {
    
    padding: 0 20px;
    
  }
   .AboutCard  {
    grid-template-columns:  repeat(1,1fr);
    padding: 0 80px;
  }
  
  .Counters{
    width: 100%;
    justify-content: center;

  }
}


@media screen and (max-width: 500px) {
 
  .Counters{
    
    justify-content: center;
    flex-direction: column;
    
  }
  .Counters p {
    text-align: start !important;
  }
}