

.Partners_Wrapper{

    width:100%;
    align-items: normal;
    position: relative;

}
.Partners_Wrapper::after{
    content: '';
    position: absolute;
    top:0;
    left: 25%;

    height: 50%;
    width: 10%;
    background: linear-gradient(90deg,#040b11, transparent);
}
.Partners_Wrapper::before{
    content: '';
    position: absolute;
    top:25%;
    right: 15%;
    
    height: 50%;
    width: 10%;
    background: linear-gradient(270deg,#040b11, transparent);
    z-index: 2;
}

@media screen and (max-width:1400px) {
    .Partners_Wrapper::before{
        right: 10%;
    }
    .Partners_Wrapper::after{
        left: 10%;
    }
    
}