@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Bakbak One';
}

:root{
  --primary-color:#21e787
}

body{
  background-color: #040b11;
}

button{
  height: 45px;
  width:150px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  background-color: transparent;
  color: #fff;
  border: 2px solid  transparent;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 2px 2px 8px #00954d;
}

button:hover{
  border-color: var(--primary-color);
}


.btn{
  position: relative;
}


.btn::after , .btn::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  transition: .6s;

}
.btn::after{
  background-color: var(--primary-color);
  width: 0;
  z-index: -1;
}
.btn:hover::after{
  width: 50%;
}

.btn:hover:after{
  color: #1e1e1e;
  width: 50%;
}

.btn:hover{
  color: #1e1e1e;
  border-color: transparent;

}

.btn::before{
  background-color: #1e1e1e;
  width: 0;
  z-index: -1;
  left: 0%;
}
.btn:hover:before{
  background-color: var(--primary-color);
  width: 100%;

}


/* header */

.section{
  padding: 90px 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Counters{
    display: flex;
    flex-direction: column;
    font-size: 26px !important;
    font-family: 'Bakbak One';
    line-height: 20px;
    width: fit-content !important;
    text-shadow: 0 5px 8px rgba(255,255,255,0.5);
    margin:20px 0;  
    text-align: start !important;
}

@media screen and (max-width:1400px) {

  .section{
    padding:90px 12%;

  }
  
}

/* about */

.Section_Title{
  text-align: center;

}

.About_card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 80px;
}
.card{
  background-color: #141b22;
  display: flex;flex-direction: column;
  padding: 45px 20px;
  gap: 15px;
  height: 240px;
  width: auto;
  align-items: center;
  box-shadow: 0 0 10px rgba(255,255,255, 0.5);
  position: relative;
}

.card:hover{
  box-shadow: 0 0 10px  rgba(255, 255,255,0.5);
}

.card span{
  height: 4px;
  width: 35px;
}
.card span:nth-child(1){
  position: absolute;
  top:0;
  left: 0;
  
}
.card span:nth-child(2){
  position: absolute;
  bottom:0;
  right: 0;
  
}

.card span:nth-child(1):after , .card span:nth-child(1):before  , .card span:nth-child(2):after,
.card span:nth-child(2):before
{
  content: ' ';

  position: absolute;
  background-color: var(--primary-color);
  transition: .3s;


}

.card:hover span:nth-child(1):after , .card span:nth-child(1):before  , .card span:nth-child(2):after,
.card:hover span:nth-child(2):before{
  opacity: 1;
}


.card span:nth-child(1):after{
  height: 6px;
  width: 50px;
  top: 0;
  left: 0;
}

.card span:nth-child(1):before{
  height: 50px;
  width: 6px;
  top: 0;
  left: 0;
}


.card span:nth-child(2):after{
  height: 6px;
  width: 50px;
  bottom: 0;
  right: 0;
}

.card span:nth-child(2):before{
  height: 50px;
  width: 6px;
  bottom: 0;
  right: 0;
}