@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Bakbak One';
}

:root{
  --primary-color:#21e787
}

button{
  height: 45px;
  width:150px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  background-color: #1e1e1e;
  color: #fff;
  border: 2px solid  transparent;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 2px 2px 8px #00954d;
}

button:hover{
  color: #1e1e1e;
  border-color: transparent;
}
.btn{
  position: relative;
}
.btn::after , .btn::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  transition: .6s;

}
.btn::after{
  background-color: var(--primary-color);
  width: 0;
  z-index: -1;
}
.btn:hover::after{
  width: 50%;
}
.btn:hover{
  color: #1e1e1e;
}
.btn::before{
  background-color: #1e1e1e;
  width: 0;
  z-index: -1;
  left: 30%;

}

.btn:hover::before{
  background-color: var(--primary-color);
  width: 100%;
}